<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="4.0.8" />
  <package id="NGitHub" version="1.0.0.7" /> <!-- http://home.jenkinsfamily.com.au:8000/guestAuth/app/nuget/v1/FeedService.svc in nuget-->
  <package id="RestSharp" version="102.7" />
  <package id="VSTOContrib.Outlook" version="0.9.0.67" />
</packages>